.home-page {
  min-height: 100vh;
}

.home-page > section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.loading-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 2rem auto 10rem;
}